 
// variables

$background: rgb(146, 146, 146);
$background_logo: rgb(226, 226, 237);
$background-nav: red;
$color-titulos: #FFFFFF;
$color-h2: #C0C0C0;
$color-h3: black;
$color-h4: black;
$border-socios: black;

$font-size-titulo: 45px;
$font-size-redes: 25px;

