 
// variables

$background: rgb(146, 146, 146);
$background_logo: rgb(0, 0, 0);
$background-nav: red;
$color_tituloprincipal: black;
$color-titulos: #FFFFFF;
$color-enlaces: black;
$color-h2: #000000;
$color-h3: black;
$color-h4: rgb(255, 255, 255);
$border-socios: black;

$font-size-titulo: 35px;
$font-size-titulo-main: 40px;
$font-size-subTitulo-main: 30px;
$font-size-redes: 25px;

