 
// variables

$background: rgb(146, 146, 146);
$background_logo: rgb(0, 0, 0);
$background-nav: red;
$background_titulo: blue;
$color_tituloprincipal: black;
$color-titulos: #FFFFFF;
$color-enlaces: black;
$color-h2: #000000;
$color-h3: black;
$color-h4: black;
$border-socios: black;

$font-size-titulo: 45px;
$font-size-redes: 25px;

