@use '_commons' as c;

// header.....................................

header{
    margin-bottom: 20px;
}
.contenedor_logo{
    margin-bottom: 5px;
    background: c.$background_logo;
    box-shadow: 5px 5px 10px black;
}

.logo{
    width: 370px;
}

.contenedor_nav{
    display: flex;
    justify-content: flex-end;
    box-shadow: 5px 5px 10px black;
    background: c.$background-nav;
}


