* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: linear-gradient(to right, #ff0000, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

.contenedor-foto-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.contenedor-foto-index .degradados {
  margin-bottom: 50px;
}
.contenedor-foto-index .foto-index-1, .contenedor-foto-index .foto-index-3, .contenedor-foto-index .foto-index-2 {
  width: 320px;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 50px;
  border: solid 7px rgb(155, 155, 155);
  box-shadow: 15px 15px 20px rgb(0, 0, 0);
  -webkit-animation: escalar-imagen 2s ease-in-out infinite alternate;
          animation: escalar-imagen 2s ease-in-out infinite alternate;
}
@-webkit-keyframes escalar-imagen {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes escalar-imagen {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
.contenedor-foto-index .foto-index-1:hover, .contenedor-foto-index .foto-index-3:hover, .contenedor-foto-index .foto-index-2:hover {
  filter: saturate(300%);
  border: 10px solid red;
}
.contenedor-foto-index .text_img {
  margin-bottom: 10px;
}
.contenedor-foto-index h1 {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.contenedor-foto-index h2 {
  text-align: center;
  color: #ffffff;
}
.contenedor-foto-index h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 150px;
}
.contenedor-foto-index h4 {
  margin-bottom: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.contenedor-titulo-socios {
  text-align: center;
  text-shadow: 15px 15px 15px rgb(0, 0, 0);
}
.contenedor-titulo-socios .titulo-socios {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #FFFFFF;
}
.contenedor-titulo-socios .subtitulo-socios {
  font-size: 30px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

form {
  margin-bottom: 100px;
  padding-bottom: 10px;
  border: 10px solid rgb(0, 0, 0);
  background: rgb(57, 57, 57);
}

.form-control:focus {
  box-shadow: 10px 10px 15px rgb(0, 0, 0);
  color: white;
  border: 4px solid black;
  background-color: #252525;
}

.form {
  margin-left: 15px;
  box-shadow: 15px 15px 20px rgb(0, 0, 0);
}

.imagen {
  width: 100%;
}

.titulo-catalogo {
  margin-top: 30px;
  color: #FFFFFF;
  font-size: 40px;
  text-align: center;
  text-shadow: 15px 15px 15px rgb(0, 0, 0);
}

.galeria {
  width: 95%;
  margin: auto;
  display: grid;
  padding: 15px;
  margin-bottom: 200px;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
}
.galeria .imagen img {
  width: 100%;
  border: solid 7px rgb(0, 0, 0);
  box-shadow: 15px 15px 20px rgb(0, 0, 0);
}

.container-catalogo .videos-bengie {
  text-align: center;
}
.container-catalogo .titulo-video-catalogo {
  margin-top: 70px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 15px 5px 15px rgb(0, 0, 0);
}
.container-catalogo .img-bengie {
  width: 50%;
  box-shadow: 15px 15px 20px rgb(0, 0, 0);
  margin-bottom: 90px;
}
.container-catalogo .video-catalogo {
  box-shadow: 15px 15px 20px rgb(0, 0, 0);
  margin-bottom: 40px;
}
.container-catalogo .video-catalogo-ultimo {
  margin-bottom: 150px;
}
.container-catalogo h4 {
  margin-bottom: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 15px 5px 15px rgb(0, 0, 0);
}

.subtitulo-productos {
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  text-shadow: 15px 15px 20px rgb(0, 0, 0);
}

#container-productos-1 {
  margin-bottom: 150px;
  box-shadow: 15px 15px 20px rgb(0, 0, 0);
}

.table {
  border: 5px solid;
  box-shadow: 15px 15px 20px rgb(0, 0, 0);
}

thead {
  background-color: rgb(84, 81, 81);
}

.nosotros {
  display: flex;
  display: block;
  flex-wrap: wrap;
}
.nosotros .titulo-nosotros {
  font-size: 35px;
  text-align: center;
  text-shadow: 5px 5px 20px rgb(0, 0, 0);
}
.nosotros .contenedor-map {
  display: block;
}
.nosotros .contenedor-map .map {
  width: 100%;
  margin-bottom: 20px;
}
.nosotros .contenedor-map .texto-map {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 70px;
}

@media only screen and (min-width: 1000px) {
  .contenedor_nav {
    display: flex;
    justify-content: flex-end;
  }
  /* media de index */
  .contenedor-foto-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .contenedor-foto-index .foto-index-1, .contenedor-foto-index .foto-index-2, .contenedor-foto-index .foto-index-3 {
    height: 475px;
    width: 500px;
    margin-bottom: 100px;
    box-shadow: 15px 15px 20px rgb(0, 0, 0);
  }
  .contenedor-foto-index .foto-index-2 {
    height: 475px;
    width: 500px;
    margin-bottom: 100px;
    box-shadow: 15px 15px 20px rgb(0, 0, 0);
  }
  /* media de catalogo */
  .titulo-catalogo {
    text-shadow: 15px 15px 20px rgb(0, 0, 0);
  }
  .video-catalogo {
    height: 600px;
  }
  /* media de socios */
  .subtitulo-socios {
    margin-bottom: 50px;
    font-size: 40px;
  }
  /* media de productos */
  .parrafo-productos {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
  }
  .parrafo-productos {
    margin-bottom: 110px;
    margin-top: 60px;
  }
  /* media de Nosotros */
  .nosotros {
    display: flex;
    display: block;
    flex-wrap: wrap;
  }
  .nosotros .titulo-nosotros {
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 5px 5px 20px rgb(0, 0, 0);
  }
  .nosotros .contenedor-map {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 60px;
  }
  .nosotros .contenedor-map .texto-map {
    text-align: center;
    margin-top: 5%;
    margin-left: 30px;
    width: 50%;
    font-size: 30px;
  }
  .nosotros .contenedor-map .map {
    width: 50%;
  }
}
@media only screen and (min-width: 100px) {
  .galeria {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 520px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 728px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template-columns: repeat(4, 1fr);
  }
}
header {
  margin-bottom: 5px;
}

.contenedor_logo {
  margin-bottom: 5px;
  background: rgb(0, 0, 0);
  box-shadow: 5px 5px 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
  height: 200px;
}

@media only screen and (min-width: 550px) {
  .contenedor_logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.contenedor_nav {
  box-shadow: 5px 5px 10px black;
  background: linear-gradient(to left, black, white 1%, black);
  margin-bottom: 5px;
}

li, a {
  font-size: 20px;
  font-weight: 1000;
}

.navbar a {
  color: rgb(0, 0, 0);
}

.navbar a:hover {
  color: rgb(21, 0, 255);
}

.titulo {
  color: black;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(to left, black, white 50%, black);
  box-shadow: 5px 5px 10px black;
}

footer {
  border-top: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(20, 20, 20);
}

.contenedor-redes {
  font-family: "font-family: " Rubik Distressed ", cursive;";
  text-align: center;
  text-shadow: 5px 5px 35px rgb(255, 255, 255);
  font-size: 25px;
  color: #FFFFFF;
}
.contenedor-redes .redes {
  margin-top: 23px;
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=main.css.map */